In [1]:
!pip install pandas seaborn matplotlib numpy scikit-learn

Requirement already satisfied: pandas in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (2.2.3)
Requirement already satisfied: seaborn in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (0.13.2)
Requirement already satisfied: matplotlib in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (3.9.3)
Requirement already satisfied: numpy in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (2.2.0)
Requirement already satisfied: scikit-learn in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (1.6.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (4.55.2)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (1.4.7)
Requirement already satisfied: packaging>=20.0 in c:\users\user\appdata\roaming\python\python313\site-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=8 in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (11.0.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (3.2.0)
Requirement already satisfied: scipy>=1.6.0 in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn) (1.14.1)
Requirement already satisfied: joblib>=1.2.0 in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn) (3.5.0)
Requirement already satisfied: six>=1.5 in c:\users\user\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib as plt
import numpy as np
import sklearn
df_ca = {
    'ism' : ['Ali', 'Vali', 'Bali'],
    'yosh' : [23,22,20],
    'oylik': [300,500,700],
    'boyi' : [180.664,190.564,170.765],
    'hobbi': ['futbol', 'voleybol', 'tenis'],
    'positsiya' : ['student', 'ishchi', 'bekorchi'],
    'rating' : ['A', 'B', 'C'],
    'status': ['yolgiz', 'farzandli', 'uylangan']
}
df = pd.DataFrame(df_ca)
df

    ism  yosh  oylik     boyi     hobbi positsiya rating     status
0   Ali    23    300  180.664    futbol   student      A     yolgiz
1  Vali    22    500  190.564  voleybol    ishchi      B  farzandli
2  Bali    20    700  170.765     tenis  bekorchi      C   uylangan

In [8]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler,RobustScaler
mscaler = MinMaxScaler().set_output(transform='pandas')
sscaler = StandardScaler().set_output(transform='pandas')
rscaler = RobustScaler().set_output(transform='pandas')

In [4]:
data_standard = sscaler.fit_transform(df[["yosh","oylik","boyi"]])
data_standard

       yosh     oylik      boyi
0  1.069045 -1.224745 -0.000041
1  0.267261  0.000000  1.224765
2 -1.336306  1.224745 -1.224724

In [5]:
df["yosh"].std()

np.float64(1.5275252316519465)

In [6]:
df["yosh"].mean()

np.float64(21.666666666666668)

In [10]:
data_robust = rscaler.fit_transform(df[["yosh","oylik","boyi"]])
data_robust.describe()

           yosh  oylik      boyi
count  3.000000    3.0  3.000000
mean  -0.222222    0.0  0.000034
std    1.018350    1.0  1.000000
min   -1.333333   -1.0 -0.999949
25%   -0.666667   -0.5 -0.499975
50%    0.000000    0.0  0.000000
75%    0.333333    0.5  0.500025
max    0.666667    1.0  1.000051